body{
    color:rgb(19, 2, 56);
    font-size:15px;
    align-content: center;
    
}
#header{
    font-weight:bold;
    text-align:center;
    font-size: 30px;
    color:rgb(19, 2, 56);
}
div {
        width:auto;
        padding: 10px;
        border: 5px solid rgb(3, 5, 83);
        margin: 0;
        background-image: linear-gradient(to right, rgb(208, 222, 159),rgb(208, 243, 36));
        
    }
#comment{
    width: 400px;
    height:50px;
}

#test{
    width:fit-content;
    padding:10px;
    border: 2px solid rgb(6, 0, 74);
    margin:10px;
    color:rgb(2, 8, 71);
}
#submit{
    background-color:rgb(207, 222, 130);
    color:rgb(23, 5, 87);
    height:30px;
    font-size: 20px;
    text-align:center;
    padding:30px;
    align-self: center;
    width:200px;

}