#first{
    font-size:30px;
    color:white;
    background-color: rgb(84, 179, 163);
    border-right: 5px solid white;
    border-radius:20px 20px 0px 0px;
    padding:10px;
  }
  #second{
    font-size:30px;
    color:white;
    background-color:rgb(120, 109, 189);
    border-right: 5px solid white;
    border-radius:20px 20px 0px 0px;
    padding:10px;
  }
  table,tr,td{
    color:white;
    border-collapse:collapse;
    text-align:center;
    padding:40px;
    margin:20px;  
    border-right: 5px solid white;  
    border-bottom: 1px solid grey; 
  }
    tr,td{
      background-color:black;
  }
  th{
    shadow: 50px 50px 50px grey;
  }
  #test{
    color:white;
    font-size:30px;
    font-family: "serif";
  }
  #test1{
    color:grey;
    font-size:20px;
  }